#name {
    display: none;
}

#eyecatcher {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

#pfp {
    height: auto;
    max-width: 25vw;
}

#namegif {
    max-width: 75vw;
}

#bio {
    text-align: center;
}

#connections {
    text-align: center;
}

@media (max-width: 768px) {
    #eyecatcher {
        flex-direction: column;
    }

    #name {
        display: block;
    }

    #pfp {
        max-width: 75vw;
    }

    #namegif {
        display: none;
    }
}
