#name {
    display: none;
}

#eyecatcher {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

#pfp {
    height: auto;
    max-width: 25vw;
}

#bio {
    text-align: center;
}

#connections {
    text-align: center;
}

#projectshowcase {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

#resume {
    height: auto;
    margin: 0 auto;
    max-width: fit-content;
}

.resumedate {
    float: right;
}

@media (max-width: 768px) {
    #eyecatcher {
        flex-direction: column;
    }

    #name {
        display: block;
    }

    #pfp {
        max-width: 75vw;
    }

    #namegifs {
        display: none;
    }

    #projectshowcase {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}